<!-- footer-copyright start -->
<footer id="footer-copyright" class="footer-copyright">
  <div class="container">
    <div class="hm-footer-copyright text-center">
      <p>
        {{ 'footer.copyright' | translate }}
      </p><!--/p-->
    </div><!--/.text-center-->
  </div><!--/.container-->

  <div id="scroll-Top">
    <div class="return-to-top">
      <i class="fa fa-angle-up" id="scroll-top" title="{{ 'footer.scrollToTop' | translate }}"></i>
    </div>
  </div><!--/.scroll-Top-->
</footer><!--/.footer-copyright-->
<!-- footer-copyright end -->
