<div class="splash" *ngIf="showSplash">
  <div class="splash-text">
    <span class="text hi-en">Hi</span>
    <span class="text hi-fr">Bonjour</span>
    <span class="text hi-ar">مرحبا</span>
    <span class="text hi-de">Hallo</span>
    <span class="text hi-zh">你好</span>
    <span class="text hi-es">Hola</span>
  </div>
</div>
<ng-container>
  <app-header></app-header>
  <!-- welcome-hero start -->
  <section id="welcome-hero" class="welcome-hero">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="header-text">
            <h2>{{ 'welcomeHero.greeting' | translate }}, <br> {{ 'welcomeHero.introduction' | translate }} <span>.</span>
            </h2>
            <p>{{ 'welcomeHero.description' | translate }}</p>
            <!--<a href="assets/download/Cv.pdf" download style="background: #9b59b6;border:1px solid #9b59b6">
              {{ 'welcomeHero.downloadResume' | translate }}
            </a>-->
          </div><!-- /.header-text-->
        </div><!-- /.col-->
      </div><!-- /.row-->
    </div><!-- /.container-->
  </section><!-- /.welcome-hero-->
  <!-- welcome-hero end -->
  <!-- about start -->
  <section id="about" class="about">
    <div class="section-heading text-center">
      <h2>{{ 'about.heading' | translate }}</h2>
    </div>
    <div class="container">
      <div class="about-content">
        <div class="row">
          <div class="col-sm-6">
            <div class="single-about-txt">
              <h3>
                {{ 'about.intro' | translate }}
              </h3>
              <p>
                {{ 'about.details' | translate }}
              </p>
              <div class="row">
                <div class="col-sm-4">
                  <div class="single-about-add-info">
                    <h3>{{ 'about.phone' | translate }}</h3>
                    <p>{{ 'about.phoneNumber' | translate }}</p>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="single-about-add-info">
                    <h3>{{ 'about.email' | translate }}</h3>
                    <p>{{ 'about.emailAddress' | translate }}</p>
                  </div>
                </div>
                <!-- <div class="col-sm-4">
                  <div class="single-about-add-info">
                    <h3>{{ 'about.website' | translate }}</h3>
                    <p>www.brownsine.com</p>
                  </div>
                </div> -->
              </div>
            </div>
          </div>
          <div class="col-sm-offset-1 col-sm-5">
            <div class="single-about-img">
              <img src="assets/photos/photo1.jpeg" alt="{{ 'about.profileImageAlt' | translate }}">
              <div class="about-list-icon">
                <ul>
                  <li>
                    <a href="https://www.facebook.com/profile.php?id=100005041907790">
                      <i class="fa-brands fa-facebook" aria-hidden="true"></i>

                    </a>
                  </li>
                  <li>
                    <a href="https://www.linkedin.com/in/samah-dhouihri-443a091a3/">
                      <i class="fa-brands fa-linkedin" aria-hidden="true"></i>

                    </a>
                  </li>
                  <li>
                    <a href="https://www.instagram.com/samah_dhouihri/">
                      <i class="fa-brands fa-instagram" aria-hidden="true"></i>

                    </a>
                  </li>
                </ul><!-- / ul -->
              </div><!-- /.about-list-icon -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!--/.about-->
  <!-- about end -->

  <!-- education start -->
  <section id="education" class="education">
    <div class="section-heading text-center">
      <h2>{{ 'education.heading' | translate }}</h2>
    </div>
    <div class="container">
      <div class="education-horizontal-timeline">
        <div class="row">
          <div class="col-sm-4">
            <div class="single-horizontal-timeline">
              <div class="experience-time">
                <h2>{{ 'education.baccalaureateYear' | translate }}</h2>
                <h3>{{ 'education.baccalaureateTitle' | translate }}</h3>
              </div><!--/.experience-time-->
              <div class="timeline-horizontal-border">
                <i class="fa fa-circle" aria-hidden="true"></i>
                <span class="single-timeline-horizontal"></span>
              </div>
              <div class="timeline">
                <div class="timeline-content">
                  <h4 class="title">
                    {{ 'education.baccalaureateSchool' | translate }}
                  </h4>
                  <h5>{{ 'education.baccalaureateLocation' | translate }}</h5>
                </div><!--/.timeline-content-->
              </div><!--/.timeline-->
            </div>
          </div>
          <div class="col-sm-4">
            <div class="single-horizontal-timeline">
              <div class="experience-time">
                <h2>{{ 'education.currentYear' | translate }}</h2>
                <h3>{{ 'education.currentTitle' | translate }}</h3>
              </div><!--/.experience-time-->
              <div class="timeline-horizontal-border">
                <i class="fa fa-circle" aria-hidden="true"></i>
                <span class="single-timeline-horizontal"></span>
              </div>
              <div class="timeline">
                <div class="timeline-content">
                  <h4 class="title">
                    {{ 'education.currentSchool' | translate }}
                  </h4>
                  <h5>{{ 'education.currentLocation' | translate }}</h5>
                </div><!--/.timeline-content-->
              </div><!--/.timeline-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!--/.education-->
  <!-- education end -->


  <!--skills start -->
  <section id="skills" class="skills">
    <div class="skill-content">
      <div class="section-heading text-center">
        <h2>{{ 'skills.heading' | translate }}</h2>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="single-skill-content">
              <div class="barWrapper">
                <span class="progressText">{{ 'skills.languages.arabic' | translate }}</span>
                <div class="single-progress-txt">
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="10"
                         aria-valuemax="100"></div>
                  </div>
                  <h3>100%</h3>
                </div>
              </div><!-- /.barWrapper -->
              <div class="barWrapper">
                <span class="progressText">{{ 'skills.languages.english' | translate }}</span>
                <div class="single-progress-txt">
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="10"
                         aria-valuemax="100"></div>
                  </div>
                  <h3>90%</h3>
                </div>
              </div><!-- /.barWrapper -->
              <div class="barWrapper">
                <span class="progressText">{{ 'skills.languages.french' | translate }}</span>
                <div class="single-progress-txt">
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="10"
                         aria-valuemax="100"></div>
                  </div>
                  <h3>80%</h3>
                </div>
              </div><!-- /.barWrapper -->
              <div class="barWrapper">
                <span class="progressText">{{ 'skills.languages.spanish' | translate }}</span>
                <div class="single-progress-txt">
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="10"
                         aria-valuemax="100"></div>
                  </div>
                  <h3>50%</h3>
                </div>
              </div><!-- /.barWrapper -->
            </div>
          </div>
          <div class="col-md-6">
            <div class="single-skill-content">
              <div class="barWrapper">
                <span class="progressText">{{ 'skills.languages.german' | translate }}</span>
                <div class="single-progress-txt">
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="10"
                         aria-valuemax="100"></div>
                  </div>
                  <h3>65%</h3>
                </div>
              </div><!-- /.barWrapper -->
            </div>
          </div>
        </div><!-- /.row -->
      </div><!-- /.container -->
    </div><!-- /.skill-content-->
  </section><!--/.skills-->
  <!--skills end -->


  <!-- experience start -->
  <section id="experience" class="experience">
    <div class="section-heading text-center">
      <h2>{{ 'experience.heading' | translate }}</h2>
    </div>
    <div class="container">
      <div class="experience-content">
        <div class="main-timeline">
          <ul>
            <li *ngFor="let item of ('experience.items' | translate)">
              <div class="single-timeline-box fix" *ngIf="item.date || item.title"> <!-- Added condition -->
                <div class="row">
                  <div class="col-md-offset-1 col-md-5 experience-time-responsive">
                    <div class="experience-time" *ngIf="item.date || item.title"> <!-- Added condition -->
                      <h2>
                        <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                        {{ item.date }}
                      </h2>
                      <h3>{{ item.title }}</h3>
                    </div><!--/.experience-time-->
                  </div><!--/.col-->
                  <div class="col-md-5">
                    <div class="timeline">
                      <div class="timeline-content text-right">
                        <h4 class="title">
                          {{ item.role }}
                        </h4>
                        <h5>{{ item.location }}</h5>
                        <p class="description">
                          {{ item.description }}
                        </p>
                      </div><!--/.timeline-content-->
                    </div><!--/.timeline-->
                  </div><!--/.col-->
                  <div class="col-md-offset-1 col-md-5 experience-time-main" *ngIf="item.date || item.title"> <!-- Added condition -->
                    <div class="experience-time">
                      <h2>
                        <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                        {{ item.date }}
                      </h2>
                      <h3>{{ item.title }}</h3>
                    </div><!--/.experience-time-->
                  </div><!--/.col-->
                </div>
              </div><!--/.single-timeline-box-->
            </li>
          </ul>
        </div><!-- .main-timeline -->
      </div><!-- .experience-content -->
    </div>
  </section><!-- .experience -->
  <!-- experience end -->



  <!-- profiles start -->
  <section id="profiles" class="profiles">
    <div class="profiles-details">
      <div class="section-heading text-center">
        <h2>{{ 'hobbies.heading' | translate }}</h2>
      </div>
      <div class="container">
        <div class="profiles-content">
          <div class="row">
            <div class="col-sm-3" *ngFor="let item of ('hobbies.items' | translate)">
              <div class="single-profile">
                <div class="profile-txt">
                  <a href=""><i [ngClass]="'fa-solid '+item.icon + ' fa-2x'"></i></a>
                  <div class="profile-icon-name">{{ item.name }}</div>
                </div>
                <div class="single-profile-overlay">
                  <div class="profile-txt">
                    <a href=""><i [ngClass]="'fa-solid '+item.icon + ' fa-2x'"></i></a>
                    <div class="profile-icon-name">{{ item.name }}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="profile-border"></div>
          <div class="row">
            <!-- If you want to add more profiles here, just add them to your JSON and the component will handle them automatically -->
          </div>
        </div>
      </div>
    </div>
  </section><!--/.profiles-->
  <!-- profiles end -->



  <!-- <section id="portfolio" class="portfolio">
    <div class="portfolio-details">
      <div class="section-heading text-center">
        <h2>portfolio</h2>
      </div>
      <div class="container">
        <div class="portfolio-content">
          <div class="isotope">
            <div class="row">

              <div class="col-sm-4">
                <div class="item">
                  <img src="assets/images/portfolio/p1.jpg" alt="portfolio image"/>
                  <div class="isotope-overlay">
                    <a href="#">
                      ui/ux design
                    </a>
                  </div>
                </div>
                <div class="item">
                  <img src="assets/images/portfolio/p2.jpg" alt="portfolio image"/>
                  <div class="isotope-overlay">
                    <a href="#">
                      ui/ux design
                    </a>
                  </div>
                </div>
              </div>

              <div class="col-sm-4">
                <div class="item">
                  <img src="assets/images/portfolio/p3.jpg" alt="portfolio image"/>
                  <div class="isotope-overlay">
                    <a href="#">
                      web design
                    </a>
                  </div>
                </div>
              </div>

              <div class="col-sm-4">
                <div class="item">
                  <img src="assets/images/portfolio/p4.jpg" alt="portfolio image"/>
                  <div class="isotope-overlay">
                    <a href="#">
                      web development
                    </a>
                  </div>
                </div>
                <div class="item">
                  <img src="assets/images/portfolio/p5.jpg" alt="portfolio image"/>
                  <div class="isotope-overlay">
                    <a href="#">
                      web development
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section> -->
  <!--portfolio end -->

  <!--clients start -->
  <section id="clients" class="clients">
    <div class="section-heading text-center">
      <h2>{{'internship'|translate}}</h2>
    </div>
    <div class="clients-area">
      <div class="container">
        <div class="owl-carousel owl-theme" id="client">
          <div class="item">
            <a href="#" style="filter: brightness(1) saturate(0%);">
              <img src="assets/photos/tijarri.png" alt="brand-image"/>
            </a>
          </div>
          <div class="item">
            <a href="#" style="filter: brightness(1) saturate(0%);    transform: translateY(35px);">
              <img src="assets/photos/valeo.jpeg" alt="brand-image"/>
            </a>
          </div>
          <!--<div class="item">
            <a href="#">
              <img src="assets/images/clients/c3.png" alt="brand-image" />
            </a>
          </div>
          <div class="item">
            <a href="#">
              <img src="assets/images/clients/c4.png" alt="brand-image" />
            </a>
          </div>
          <div class="item">
            <a href="#">
              <img src="assets/images/clients/c5.png" alt="brand-image" />
            </a>
          </div>
          <div class="item">
            <a href="#">
              <img src="assets/images/clients/c6.png" alt="brand-image" />
            </a>
          </div>
          <div class="item">
            <a href="#">
              <img src="assets/images/clients/c7.png" alt="brand-image" />
            </a>
          </div> -->
        </div><!--/.owl-carousel-->
      </div><!--/.container-->
    </div><!--/.clients-area-->

  </section><!--/.clients-->


  <!-- contact start -->
  <section id="contact" class="contact">
    <div class="section-heading text-center">
      <h2>{{ 'contact_me.heading' | translate }}</h2>
    </div>
    <div class="container">
      <div class="contact-content">
        <div class="row">
          <div class="col-md-offset-1 col-md-5 col-sm-6">
            <div class="single-contact-box">
              <div class="contact-form">
                <form [formGroup]="contactForm">
                  <div class="row">
                    <div class="col-sm-6 col-xs-12">
                      <div class="form-group">
                        <input formControlName="name" type="text" class="form-control" id="name" placeholder="{{ 'contact_me.form.name' | translate }}" name="name">
                      </div><!--/.form-group-->
                    </div><!--/.col-->
                    <div class="col-sm-6 col-xs-12">
                      <div class="form-group">
                        <input formControlName="email" type="email" class="form-control" id="email" placeholder="{{ 'contact_me.form.email' | translate }}" name="email">
                      </div><!--/.form-group-->
                    </div><!--/.col-->
                  </div><!--/.row-->
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="form-group">
                        <input formControlName="subject" type="text" class="form-control" id="subject" placeholder="{{ 'contact_me.form.subject' | translate }}" name="subject">
                      </div><!--/.form-group-->
                    </div><!--/.col-->
                  </div><!--/.row-->
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="form-group">
                        <textarea formControlName="message" class="form-control" rows="8" id="comment" placeholder="{{ 'contact_me.form.message' | translate }}"></textarea>
                      </div><!--/.form-group-->
                    </div><!--/.col-->
                  </div><!--/.row-->
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="single-contact-btn" (click)="Submit()">
                        <a class="contact-btn" href="#" role="button" >{{ 'contact_me.form.submit' | translate }}</a>
                      </div><!--/.single-single-contact-btn-->
                    </div><!--/.col-->
                  </div><!--/.row-->
                </form><!--/form-->
              </div><!--/.contact-form-->
            </div><!--/.single-contact-box-->
          </div><!--/.col-->
          <div class="col-md-offset-1 col-md-5 col-sm-6">
            <div class="single-contact-box">
              <div class="contact-adress">
                <div class="contact-add-head">
                  <h3>{{ 'contact_me.address.name' | translate }}</h3>
                  <p>{{ 'contact_me.address.title' | translate }}</p>
                </div>
                <div class="contact-add-info">
                  <div class="single-contact-add-info">
                    <h3>{{ 'contact_me.address.phone' | translate }}</h3>
                    <p>{{ 'contact_me.address.phoneNumber' | translate }}</p>
                  </div>
                  <div class="single-contact-add-info">
                    <h3>{{ 'contact_me.address.email' | translate }}</h3>
                    <p>{{ 'contact_me.address.emailAddress' | translate }}</p>
                  </div>
                </div>
              </div><!--/.contact-adress-->
              <div class="hm-foot-icon">
                <ul>
                  <li><a [href]="'contact_me.socials.facebook' | translate">
                    <i class="fa-brands fa-facebook"></i>
                  </a></li><!--/li-->
                  <li><a [href]="'contact_me.socials.instagram' | translate">
                    <i class="fa-brands fa-instagram"></i>
                  </a></li><!--/li-->
                </ul><!--/ul-->
              </div><!--/.hm-foot-icon-->
            </div><!--/.single-contact-box-->
          </div><!--/.col-->
        </div><!--/.row-->
      </div><!--/.contact-content-->
    </div><!--/.container-->
  </section><!--/.contact-->
  <!-- contact end -->



  <app-footer></app-footer>
</ng-container>

